name : ci
on: [push, pull_request]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.19.x'

    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.49.0

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.18.x', '1.19.x' ]
    steps:

      - uses: actions/checkout@v3

      - name: Set up go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}


      - name: Test code
        run: go test -v ./...